
.home{
    padding: 0;
    margin: 0;
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
    background: hsl(223, 28%, 29%);
    align-items: center;
    justify-content: center;
}

.card{
    display:flex;
    justify-content: top;
    /* align-items: center; */
    flex-direction: column;
    width:auto;
    height:auto;
    background: #fff;
    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-left: 2vw;
    padding-right: 2vw;
}